{% extends 'base.html' %}

{% block content %}

<style>
	.hero-image {
		background-image: url("static/images/doctor-banner.jpg");
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: 100% 100%;
		height: 600px;
	  position: relative;
	}

	.hero-text {
		width: 100%;
		text-indent:10%;
		font-weight: 600;
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	button {
		display: inline-block;
		background-color: #FFD166;
		color: #505F98;
		border: none;
		outline: none;
	}

	button:hover {
		opacity: 0.8;
	}

	.noBG {
		background-color: #00000000;
		color: #505F98;
	}

	.fullBorderRadius5px {
		border: 1px solid rgba(55, 68, 126, 0.2);
		border-radius: 5px;
	}
</style>

<article id="main">
	<section class='hero-image'>
		<div class="hero-text">
			<h2 style="color: #505F98"><strong>About Us</strong></h2>
		</div>
	</section>

	<table style="width:80%; margin-left: auto; margin-right: auto; margin-top: 80px">
		<tr>
			<td style="width:50%; vertical-align: middle">
				<h2 style="text-transform:none; font-weight:600; text-align: center">At Virtual Hospital, <span style="color: #4ccdb1">We Care</span></h2>
			</td>
			<td>
				<p><span style="font-weight:400">Virtual Hospital aims to provide a convenient online platform for doctors and patients to conduct clinical consultations online.</span><br><br>Through this, face-to-face healthcare expenditure is controlled, the risk of others getting into close contact with possible carriers of the virus is reduced, and patients can enjoy the convenience of collecting their prescriptions at designated collection areas at hospitals and clinics without having to queue for a clinical consultation.</p>
			</td>
		</tr>
	</table>

	<footer>
		<ul class="buttons" style="text-align: center; padding-top: 40px">
			{% if not current_user.is_authenticated %}
				<li><form action="/login" method="GET"><button class="noBG fullBorderRadius5px" style="border-radius: 5px">Log in</button></form></li>
			{% endif %}
			<li><form action="/search" method="GET"><button style="border-radius: 5px">Try now</button></form></li>
		</ul>
	</footer>

</article>
{% endblock %}
