<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Virtual Hospital</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	   <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="index is-preload">
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}" id="flash">{{ message }}</div>
  {% endfor %}
<div id="page-wrapper">
	<header id="header" class="alt">
		<img src='{{ url_for('static', filename='logo.png') }}' style="position:absolute; width:10%; margin-top: -19px" alt="Virtual Hospital" />
		<nav id="nav" style="display:inline-block; vertical-align:middle">
			<ul style="margin:0">
				{% if currPage == "Home" %}
					<li class="current"><a href="/">Home</a></li>
				{% else %}
					<li><a href="/">Home</a></li>
				{% endif %}

				{% if currPage == "About" %}
					<li class="current"><a href="/about">About Us</a></li>
				{% else %}
					<li><a href="/about">About Us</a></li>
				{% endif %}

				{% if current_user.is_authenticated %}
          {% if currPage == "Appointments" %}
            <li class="current"><a href="/appointments">Appointments</a></li>
          {% else %}
            <li><a href="/appointments">Appointments</a></li>
          {% endif %}

          {% if currPage == "Search" %}
              <li class="current"><a href="/search">Search</a></li>
          {% else %}
              <li><a href="/search">Search</a></li>
          {% endif %}

          <li class="submenu"> <!-- Note: Submenu can be nested twice -->
            <a href="#"> {{ current_user.name }} </a>
            <ul>
              <li><a href="/profile?id={{ current_user.id }}">View Profile</a></li>
              <li><a href="/setprofile">Set Profile</a></li>
              <li><a href="/settings">Account Management</a></li>
            </ul>
          </li>
  				<li><a href="/logout" class="button primary">Logout</a></li>
        {% else %}
					<li><a href="/login" class="button primary">Login</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
    {% block content %}{% endblock %}
</div>
<!-- Footer -->
	<footer id="footer">

		<ul class="icons">
			<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
			<li><a href="#" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
		</ul>

		<ul class="copyright">
			<li>&copy; Team1 - Virtual Hospital</li>
		</ul>

	</footer>
<!-- Scripts -->
	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>

</html>
