{% extends 'base.html' %}

{% block content %}

<style>
	.hero-image {
		background-image: url("static/images/landing-page-banner-2.png");
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: 100% 100%;
		height: 600px;
	  position: relative;
	}

	.hero-text {
		width: 100%;
		text-indent:10%;
		font-weight: 600;
		margin: 0;
	  position: absolute;
	  top: 50%;
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}

	button {
    display: inline-block;
    background-color: #FFD166;
    color: #505F98;
    border: none;
    outline: none;
  }

  button:hover {
    opacity: 0.8;
  }

	.noBG {
    background-color: #00000000;
    color: #505F98;
  }

	.fullBorderRadius5px {
    border: 1px solid rgba(55, 68, 126, 0.2);
    border-radius: 5px;
  }

</style>

<article id="main">
	<section class='hero-image'>
		<div class="hero-text">
			<h2 style="text-transform:none; margin-bottom: 0; color: #505F98"><strong>Virtual Hospital</bold></h2>
			<h2 style="text-transform:none; color: #505F98">The Online Healthcare Provider</h2>
			<p style="max-width:40%; text-indent: 0; margin-left: 10%">Stay safe in the comfort of your home to receive an online consultation and prescriptions from doctors of various departments. Pay online and pick up your medication at your convenience. </p>

			<form action="/search" method="GET">
				<button style="border-radius: 5px" type="submit">Try now</button>
			</form>
		</div>
	</section>

	<h2 style="text-transform:none; letter-spacing:0.1; text-align: center; padding-top:80px; color: #505F98"><strong>Live Consultation from our Doctors</bold></h2>
	<p style="text-align:center">Use Virtual Hospital to find doctors with the best patient reviews. Simple, secure, and free.</p>

	<img style='margin-left:auto; margin-right: auto; display: block;' src='static/images/chatroom_screenshot.png'></img>

	<footer>
		<ul class="buttons" style="text-align: center; padding-top: 80px">
			<li><form action="/login" method="GET"><button class="noBG fullBorderRadius5px" style="border-radius: 5px">Log in</button></form></li>
			<li><form action="/search" method="GET"><button style="border-radius: 5px">Try now</button></form></li>
		</ul>
	</footer>
</article>

{% endblock %}
