{% extends 'base.html' %}

{% block content %}
<style>
.content {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.submit {
  width: 321px;
  height: 46px;
  background: url("{{ url_for('static', filename='assets/css/images/v58_1.png') }}");
}
.prescription {
  width: 100%;
  margin-top: 10px 0;
  vertical-align: middle;
}
.total {
  width: 266px;
  height: 62px;
}
.total_price {
  width: 69px;
  color: rgba(55,68,126,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
}
.total_text {
  width: 105px;
  color: rgba(111,124,178,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
}
.drug {
  width: 688px;
  height: 24px;
}
.drug_name {
  width: 148px;
  color: rgba(55,68,126,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
}
.drug_price {
  width: 57px;
  color: rgba(55,68,126,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
}
.drug_columns {
  width: 959px;
  height: 28px;
}
.drug_name_column {
  width: 111px;
  color: rgba(111,124,178,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
}
.drug_price_column {
  width: 51px;
  color: rgba(111,124,178,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
}
.prescriptions_text {
  width: 217px;
  color: rgba(9,17,51,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
}
.prescriptions_title {
  width: 100%;
  background: url("./images/v57_570.png");
  border: 0.6000000238418579px solid rgba(186,195,229,1);
}
.prescriptions_title_text {
  width: 323px;
  color: rgba(9,17,51,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  text-align: left;
}
.appointment {
  width: 100%;
  height: 231px;
  padding-top: 50px;
}
.doctor {
  width: 456px;
  height: 60px;
}
.doctor_text {
  width: 126px;
  color: rgba(9,17,51,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
}
.doctor_name {
  width: 179px;
  color: rgba(55,68,126,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
  padding-left: 20px;
}
.department_name {
  width: 117px;
  color: rgba(111,124,178,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 22px;
  text-align: left;
  display: inline;
}
.appointment_info {
  width: 100%;
  background: url("./images/v57_518.png");
  border: 0.6000000238418579px solid rgba(186,195,229,1);
}
.appointment_info_text {
  width: 323px;
  color: rgba(9,17,51,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  text-align: left;
}
.get_prescription {
  width: 100%;
  height: 100px;
  position: relative;
  left: 50%;
}
.get_prescription_title {
  width: 100%;
  height: 100px;
  background: rgba(231,236,255,0.30000001192092896);
}
.get_prescription_title_text {
  width: 100%;
  color: rgba(9,17,51,1);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  text-align: center;
}
</style>

<div class="content">
  <div class="get_prescription">
    <div class="get_prescription_title"></div><span class="get_prescription_title_text">Get Prescription</span>
  </div>

  <div class="appointment">
    <div class="appointment_info"></div><span class="appointment_info_text">Appointment Information</span>
    <div class="doctor"><span class="doctor_text">Doctor</span><span class="doctor_name">{{ doctor.name }}</span><span class="department_name">{{ department.name }}</span></div>
  </div>

  <div class="prescriptions_title"></div><span class="prescriptions_title_text">Prescriptions</span>
  <div class="prescription">
    <div class="drug_columns"><span class="drug_name_column">Drug Name</span><span class="drug_price_column">Price</span><span class="prescriptions_text">Prescriptions</span></div>
    {% for drug in drugs %}
      <div class="drug"><span class="drug_name">{{ drug.name }}</span><span class="drug_price">${{ '{0:.2f}'.format(drug.price) }}</span></div>
    {% endfor %}
    <div class="total"><span class="total_price">${{ '{0:.2f}'.format(total_price) }}</span><span class="total_text">Total Price</span>
    </div>
  </div>

  <form action="/checkout" method="post">
    <input type="hidden" name="amount" value="{{ total_price }}"/>
    <button class="submit" type="submit" name = "submit" value = "Submit"></button>
  </form>
</div>
{% endblock %}